{% set theme_path = 'Cabinet/Theme/' ~ theme %}
<!DOCTYPE html>
<html
    lang="en"
    ng-app="AgentPlus"
    data-apiau="{{ url('api_internal')|replace({'//api/internal': '/api/internal'}) }}"
    data-apeau="{{ url('api_external')|replace({'//api/external': '/api/external'}) }}"
    data-cabinet-upload-url="{{ url('cabinet_upload')|replace({'//upload': '/upload'}) }}"
    data-theme="{{ theme }}"
>
<head>
    <title>{% verbatim %}{{ title }}{% endverbatim %}</title>

    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="/components/select2/select2.min.js"></script>

    <script type="text/javascript" src="/components/angular/angular.js"></script>
    <script type="text/javascript" src="/components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script type="text/javascript" src="/components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="/components/angular-loading-bar/src/loading-bar.js"></script>
    <script type="text/javascript" src="/components/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script type="text/javascript" src="/components/angular-ui-select/dist/select.min.js"></script>
    <script type="text/javascript" src="/components/angular-bootstrap-switch/dist/angular-bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="/components/ngstorage/ngStorage.min.js"></script>

    <script type="text/javascript" src="/cabinet/app/utils/date.js"></script>
    <script type="text/javascript" src="/cabinet/app/utils/jsdtz.min.js"></script>
    <script type="text/javascript" src="/cabinet/app/utils/array.js"></script>

    <script type="text/javascript" src="/cabinet/app/services/theme.js"></script>
    <script type="text/javascript" src="/cabinet/app/services/json-rpc.js"></script>
    <script type="text/javascript" src="/cabinet/app/services/request-errors.js"></script>
    <script type="text/javascript" src="/cabinet/app/services/loading.js"></script>
    <script type="text/javascript" src="/cabinet/app/services/security/auth.js"></script>
    <script type="text/javascript" src="/cabinet/app/services/security/voters.js"></script>
    <script type="text/javascript" src="/cabinet/app/services/api/internal.js"></script>
    <script type="text/javascript" src="/cabinet/app/services/api/external.js"></script>

    <script type="text/javascript" src="/cabinet/app/controllers/controllers.js"></script>
    <script type="text/javascript" src="/cabinet/app/controllers/dashboard.js"></script>
    <script type="text/javascript" src="/cabinet/app/controllers/security.js"></script>
    <script type="text/javascript" src="/cabinet/app/controllers/profile.js"></script>
    <script type="text/javascript" src="/cabinet/app/controllers/client.js"></script>
    <script type="text/javascript" src="/cabinet/app/controllers/factory.js"></script>
    <script type="text/javascript" src="/cabinet/app/controllers/diary.js"></script>
    <script type="text/javascript" src="/cabinet/app/controllers/diary-type.js"></script>
    <script type="text/javascript" src="/cabinet/app/controllers/order.js"></script>
    <script type="text/javascript" src="/cabinet/app/controllers/stage.js"></script>
    <script type="text/javascript" src="/cabinet/app/controllers/catalog.js"></script>
    <script type="text/javascript" src="/cabinet/app/controllers/got-catalog.js"></script>

    <script type="text/javascript" src="/cabinet/app/filters/money.js"></script>
    <script type="text/javascript" src="/cabinet/app/filters/sanitize.js"></script>
    <script type="text/javascript" src="/cabinet/app/filters/filters.js"></script>

    <script type="text/javascript" src="/cabinet/app/app.js"></script>

    <script type="text/javascript" src="/cabinet/app/directives/header/sidebar.js"></script>
    <script type="text/javascript" src="/cabinet/app/directives/header/header.js"></script>
    <script type="text/javascript" src="/cabinet/app/directives/sidebar/sidebar.js"></script>
    <script type="text/javascript" src="/cabinet/app/directives/page-header/page-header.js"></script>
    <script type="text/javascript" src="/cabinet/app/directives/breadcrumb/breadcrumb.js"></script>
    <script type="text/javascript" src="/cabinet/app/directives/page-title/page-title.js"></script>

    {% include theme_path ~ '/resources.html.twig' %}
</head>
<body ui-view>
</body>
</html>

